* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
}

section {
  background-color: #bf263c;
  padding-top: 80px;
  padding-bottom: 80px;
}

h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: 600;
}

.services {
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-1 {
  width: 320px;
  background-color: white;
  padding: 15px;
  margin: 35px;
  border-radius: 10px;
}

.img {
  padding-top: 30px;
}

img {
  height: 190px;
  width: 100%;
}

.description {
  padding-bottom: 30px;
  text-align: center;
  margin-top: 30px;
}

h2 {
  text-transform: uppercase;
  color: #bf263c;
}

.shapes {
  position: relative;
}

.shape-1,
.shape-2,
.shape-3,
.shape-4,
.shape-5,
.shape-6 {
  width: 20px;
  height: 40px;
  border-radius: 35px;
  position: absolute;
}

.right {
  right: 0;
}

.shape-1 {
  right: 40px;
  background-color: #bf263c;
  top: -60px;
  transition: all linear 0.5s;
}

.shape-2 {
  right: 20px;
  background-color: white;
  top: -10px;
  transition: all linear 0.5s;
}

.shape-3 {
  background-color: #bf263c;
  top: -60px;
  transition: all linear 0.5s;
}

.service-1:hover .shape-1 {
  top: -30px;
}

.service-1:hover .shape-2 {
  top: -30px;
}

.service-1:hover .shape-3 {
  top: -40px;
}

.shape-4 {
  background-color: white;
  top: -27px;
  transition: all linear 0.5s;
}

.shape-5 {
  background-color: #bf263c;
  left: 20px;
  top: 17px;
  transition: all linear 0.5s;
}

.shape-6 {
  background-color: white;
  left: 40px;
  top: -27px;
  transition: all linear 0.5s;
}

.service-1:hover .shape-4 {
  top: -7px;
}

.service-1:hover .shape-5 {
  top: 0px;
}

.service-1:hover .shape-6 {
  top: -15px;
}
